*{
    font-family: 'Roboto', sans-serif;    
    box-sizing: border-box;
    line-height: 25px;
    
    
} 

.instruction{
   width: 40vw;
   text-align: justify;
   padding: 10px;
   margin: 10px;
   color: #ffff;
   
    
}

header{
    min-height: 50px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: #B980F0;
    text-align: center;
    color: #ffff;
}

body{
    background-color: #252525;
}

article{  
    background-color: #171717;      
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    padding: 20px; 
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B980F0;
    color: #ffff;
    border-radius: 0px 0px 5px 5px;
    padding: 10px   
    
    
}

form{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;
    margin:10px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #151515;
    background-color: #252525;
    height: 50vh;
    
}

#btn-calendar{
    background-color: #B980F0;
   font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border: none;
    color: #ffff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #151515;
}

.form-img{
    width: 150px;
}

form input{
    border:none;
    border-radius: 5px;
    text-align:center;
    margin: 10px;
}

.fields{
    color:#00000;
}

table{
    margin:10px;
    color: white;
    min-width: 30vw;
    min-height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #151515;
}

table tr{
    background-color: #252525;
}

.week{
    background-color: #3D087B;
    
}

.month{
    background-color: #202040;
}